:root {
    /* color style used in website */
    --clr-primary-400: #161616;
    --clr-secondary-100: #DD0000;
    --clr-neutral-900: #FFFFFF;

    /* font-family styles */
    --ff-primary: 'Poppins', sans-serif;
    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    /* font-weight styles */
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;

    /* font-size styles */
    --fz-14: 0.875rem;
    --fz-16: 1rem;
    --fz-18: 1.125rem;
    --fz-20: 1.25rem;
    --fz-22: 1.375rem;
    --fz-40: 2.5rem;
    --fz-70: 4.375rem;

    --fs-primary-body: var(--fz-16);
    --fs-secondary-body: var(--fz-14);
    --fs-big-heading: var(--fz-70);
    --fs-medium-heading: var(--fz-40);
    --fs-small-heading: var(--fz-22);
    --fs-primary-button: var(--fz-20);
    --fs-secondary-button: var(--fz-16);

}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}


/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}


/* Utility Classes */

.text-primary-400 {
    color: var(--clr-primary-400);
}
.text-neutral-900 {
    color: var(--clr-neutral-900)
}

.bg-primary-400 {
    background-color: var(--clr-primary-400);
}
.bg-secondary-100 {
    background-color: var(--clr-secondary-100);
}
.bg-neutral-900 {
    background-color: var(--clr-neutral-900);
}

.fw-regular {
    font-weight: var(--fw-regular);
}
.fw-medium {
    font-weight: var(--fw-medium);
}
.fw-semi-bold {
    font-weight: var(--fw-semi-bold);
}
.fw-bold {
    font-weight: var(--fw-bold);
}

.fs-big-heading {
    font-size: var(--fs-big-heading);
    line-height: 1.15;
}
.fs-medium-heading {
    font-size: var(--fs-medium-heading);
    line-height: 1.25;
}
.fs-small-heading {
    font-size: var(--fs-medium-heading);
    line-height: 1.5;
}
.fs-secondary-body {
    font-size: var(--fs-secondary-body);
    line-height: 1.75;
}

.fz-14 {
    font-size: var(--fz-14);
}
.fz-16 {
    font-size: var(--fz-16);
}
.fz-18 {
    font-size: var(--fz-18);
}
.fz-20 {
    font-size: var(--fz-20);
}
.fz-22 {
    font-size: var(--fz-22);
}
.fz-40 {
    font-size: var(--fz-40);
}
.fz-70 {
    font-size: var(--fz-70);
}


/* General styling */
body {
    font-family: var(--ff-body);
    font-size: var(--ff-body);
}

.container {
    --max-width: 1320px;
    --padding: 1.25rem;

    width: min(var(--max-width), 100% - var(--padding)*2);
    margin-inline: auto;
}
/* Hero section */ 

.even-columns {
    display: grid;
    gap: 1rem;
    background-color: var(--clr-primary-400);
    margin-top: 50px;
    border-radius: 10px;
    padding: 1.75rem 2.375rem 0 ;
    text-align: center;
}
.hero-text {
    margin-bottom: 1.25rem;
}

.hero-text h1 {
    font-size: var(--fz-22);
    margin-bottom: 0.5rem;
}
.hero-text p {
    font-size: var(--fz-14);
    margin-bottom: 1rem;
}
.hero-img img {
    width: 233px;
    height: 245px;
    margin-inline: auto;
}


/* smaller devices */
@media screen and (max-width: 36em) {

}

/* medium devices */
@media screen and (min-width: 36em) and (max-width: 52em) {
    .even-columns {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        border-radius: 30px;
    }

    .even-columns .hero-img img {
        width: 581px;
        height: 613px;
    }
}


/* Button , [ Play-icon as a span ]*/
.primary-button {
    text-decoration: none;
    color: var(--clr-neutral-900);
    background-color: var(--clr-secondary-100);
    padding: 0.5em 0.75em;
    border-radius: 5px;
}
span {
    margin-left: 10px;
}

/* side bar cards */
.sidebar-cards {
    margin-inline: 5rem;
}
.sidebar-cards a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.cards1 {
 margin: 1.5rem auto;
 white-space: nowrap;
 width: 190px;
}
.cards2 {
    width: 160px;
}
.cards1, .cards2 {
    padding: 0.5625rem 1.5rem;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}
.cards1, .cards2, .cards3 a {
     margin-inline: auto; 
}
/* active button */
.cards3 {
    margin: 1rem auto;
    width: 160px;
    background-color: var(--clr-secondary-100);
    padding: 0.5625rem 1.5rem;
    border-radius: 10px;
}
.cards3 a{
    color: var(--clr-neutral-900);
}
