:root {
    /* color style used in website */
    --clr-primary-400: #161616;
    --clr-secondary-100: #DD0000;
    --clr-neutral-900: #FFFFFF;

    /* font-family styles */
    --ff-primary: 'Poppins', sans-serif;
    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    /* font-weight styles */
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;

    /* font-size styles */
    --fz-14: 0.875rem;
    --fz-16: 1rem;
    --fz-18: 1.125rem;
    --fz-20: 1.25rem;
    --fz-22: 1.375rem;
    --fz-40: 2.5rem;
    --fz-70: 4.375rem;

    --fs-primary-body: var(--fz-16);
    --fs-secondary-body: var(--fz-14);
    --fs-big-heading: var(--fz-70);
    --fs-medium-heading: var(--fz-40);
    --fs-small-heading: var(--fz-22);
    --fs-primary-button: var(--fz-20);
    --fs-secondary-button: var(--fz-16);

}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}


/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}


/* Utility Classes */

.text-primary-400 {
    color: var(--clr-primary-400);
}
.text-neutral-900 {
    color: var(--clr-neutral-900)
}
.bg-primary-400 {
    background-color: var(--clr-primary-400);
}
.bg-secondary-100 {
    background-color: var(--clr-secondary-100);
}
.bg-neutral-900 {
    background-color: var(--clr-neutral-900);
}

.fw-regular {
    font-weight: var(--fw-regular);
}
.fw-medium {
    font-weight: var(--fw-medium);
}
.fw-semi-bold {
    font-weight: var(--fw-semi-bold);
}
.fw-bold {
    font-weight: var(--fw-bold);
}

.fs-big-heading {
    font-size: var(--fs-big-heading);
    line-height: 1.15;
}
.fs-medium-heading {
    font-size: var(--fs-medium-heading);
    line-height: 1.25;
}
.fs-small-heading {
    font-size: var(--fs-medium-heading);
    line-height: 1.5;
}
.fs-secondary-body {
    font-size: var(--fs-secondary-body);
    line-height: 1.75;
}

.fz-14 {
    font-size: var(--fz-14);
}
.fz-16 {
    font-size: var(--fz-16);
}
.fz-18 {
    font-size: var(--fz-18);
    line-height: 1.5;
}
.fz-20 {
    font-size: var(--fz-20);
}
.fz-22 {
    font-size: var(--fz-22);
}
.fz-40 {
    font-size: var(--fz-40);
}
.fz-70 {
    font-size: var(--fz-70);
}


/* General styling */
body {
    font-family: var(--ff-body);
    font-size: var(--ff-body);
}

.container {
    --max-width: 1300px;
    --padding: 1.25rem;

    width: min(var(--max-width), 100% - var(--padding)*2);
    margin-inline: auto;
}
/* Hero section */ 
.even-columns {
    display: grid;
    gap: 1rem;
    background-color: var(--clr-primary-400);
    margin-top: 50px;
    border-radius: 30px;
    padding: 1.75rem 2.375rem 0 ;
    text-align: center;
}
/* large devices */
@media screen and (min-width: 53em) and (max-width: 100em){
    .container {
        --max-width: 62em;
        --padding: 4rem;
    
        width: min(var(--max-width), 100% - var(--padding)*2);
        margin-inline: auto;
    }
    /* hero section */
    .even-columns {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        border-radius: 50px;
        margin-top: 50px;
        padding: 3.8125rem 1rem 0 4.75rem;
        text-align: start;
        align-items: end;
    }
    .hero-text {
        margin-bottom: 3.755rem;
    }
    .hero-text h1 {
        font-size: var(--fz-40);
        margin-bottom: 1.25rem;
    }
    .hero-text p {
        font-size: var(--fz-16);
        margin-bottom: 1.875rem;
    }
/* Button , [   Play-icon as a span   ]*/
    .primary-button {
        text-decoration: none;
        color: var(--clr-neutral-900);
        background-color: var(--clr-secondary-100);
        padding: 0.5em 0.75em;
        border-radius: 5px;
    }
    span {
        margin-left: 10px;
    }
    .hero-img {
        width: 323px;
        height: 340px;
    }
        
    /* blog section styles */

    /* side bar cards */
    .cardsAndBlogs {
        display: flex;
        margin-top: 4.375rem;
    }
    .sidebar-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 0 1.75rem 3rem 0;
        padding: 1.5rem;
        background-color: var(--clr-primary-400);
        width: 312px;
        height: 312px;
        border-radius: 10px;
    }
    .cards1 {
    white-space: nowrap;
    }
    .cards2 {
        margin-left: 22px;
    }
    .cards1, .cards2 {
    background-color: var(--clr-neutral-900);
        text-align: center;
    }
    .cards3 {
        text-align: center;
    }
    .cards1, .cards2, .cards3 {
        padding: 1rem 1.75rem;
        width: 230px;
        border-radius: 10px;
        margin: 0 auto;
    }
    .sidebar-cards a {
        font-size: var(--fs-primary-button);
        font-weight: var(--fw-semi-bold);
        text-decoration: none;
        color: var(--clr-primary-400);
    }
/* active button */
    .cards3 {
        background-color: var(--clr-secondary-100);
    }
    .cards3 a{
        color: var(--clr-neutral-900);
    }

 /* Blog post  */
    .three-columns-two-columns {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.25rem;
    }
    
        /* Blog post  */
        .blog-post {
            border: 1px solid #E8E8E8;
            margin: 0 0 16px;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        }
        .blog-post-img img {
            width: 100%;
        }
    
            /* Blog post transfer button */
        .blog-post-text a {
            text-decoration: none;
            font-weight: var(--fw-medium);
            font-size: var(--fz-18);
            color: var(--clr-primary-400);
            padding: 0.25em 1.125em;
            border: 1px solid #161616;
            border-radius: 5px;
        }
    
            /* Blog post title and text */
        .blog-post-text {
            margin: 1.25rem;
        }
        .blog-post-text h3 {
            margin-top: 1rem;
        }
            /* Blog post watch icon */
        .watch-timeAndComments {
            margin:0 1.25rem 1.25rem;
            display: flex;
        }
        .time, .comments {
            display: flex;
        }
        .comments {
            margin-left: 2rem;
        }
        .watch-timeAndComments p {
            margin-left: 0.625rem;
            color: var(--clr-primary-400);
            opacity: 70%;
        }
        .blog-post-last {
            display: none;
        }
    
        .veiw-button  a{
            display: block;

            text-decoration: none;
            color: var(--clr-neutral-900);
            background-color: var(--clr-secondary-100);
            padding: 0.5em 0.75em;
            border-radius: 5px;
            text-align: center;
            white-space: nowrap;

        }
        .veiw-button {
            display: none;
            margin: 3.125rem auto;
            width: 131px;
        }
        .blog-post-last {
            display: block;
        }
/* ------------
footer section styles
------------*/
    footer {
        background-color: var(--clr-primary-400);
        text-align: center;
    }
    /* footer title */
    .ftr-title {
        padding-top: 4.375rem;
        margin-top: 1.875rem;
    } 
    .ftr-title h2{
        font-size: var(--fz-40);
    }
    .ftr-title hr {
        margin: 1.875rem 3.125rem;
        border: 1px solid rgba(255, 255, 255, 0.1);
    }
    /* footer link */
    .footer-link {
        width: 898px;
        margin: 0 auto 1.875rem;
    }
    .footer-link a {
        text-decoration: none;
        color: #B9B9B9;
        font-size: var(--fz-20);
        white-space: nowrap;
        text-align: center;
        margin: 0 8px 0;
        line-height: 1.75;
        opacity: 80%;
    }
    /* social links */
    .social-links {
        display: flex;
        justify-content: center;
    }
    .social-links a {
        margin: 0 1.25rem 1.875rem;
        opacity: 80%;
    }
}

/* smaller devices */
@media screen and (max-width: 36em) {
    .container {
        --max-width: 36em;
        --padding: 1.25rem;
    
        width: min(var(--max-width), 100% - var(--padding)*2);
        margin-inline: auto;
    }
    /* hero section */
    .even-columns {
        display: grid;
        gap: 1rem;
        background-color: var(--clr-primary-400);
        margin-top: 50px;
        border-radius: 10px;
        padding: 1.75rem 2.375rem 0 ;
        text-align: center;
    }
    .hero-text {
        margin-bottom: 1.25rem;
    }
    .hero-text h1 {
        font-size: var(--fz-22);
        margin-bottom: 0.5rem;
    }
    .hero-text p {
        font-size: var(--fz-14);
        margin-bottom: 1rem;
        opacity: 70%;
    }
/* Button , [   Play-icon as a span   ]*/
.primary-button {
    text-decoration: none;
    color: var(--clr-neutral-900);
    background-color: var(--clr-secondary-100);
    padding: 0.5em 0.75em;
    border-radius: 5px;
}
span {
    margin-left: 10px;
}
    .hero-img img {
        width: 233px;
        height: 245px;
        margin-inline: auto;
    }
    
    /* blog section styles */

    /* side bar cards */
    .sidebar-cards {
        margin-inline: 5rem;
    }
    .sidebar-cards a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
    .cards1 {
    margin: 1.5rem auto;
    white-space: nowrap;
    width: 190px;
    }
    .cards2 {
        width: 160px;
    }
    .cards1, .cards2 {
        padding: 0.5625rem 1.5rem;
        border: 1px solid #E8E8E8;
        border-radius: 10px;
    }
    .cards1, .cards2, .cards3 a {
        margin-inline: auto; 
    }
    /* active button */
    .cards3 {
        margin: 1rem auto;
        width: 160px;
        background-color: var(--clr-secondary-100);
        padding: 0.5625rem 1.5rem;
        border-radius: 10px;
    }
    .cards3 a{
        color: var(--clr-neutral-900);
    }

    /* Blog post  */
    .blog-post {
        border: 1px solid #E8E8E8;
        margin: 0 0 16px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
    .blog-post-img img {
        width: 100%;
    }

        /* Blog post transfer button */
    .blog-post-text a {
        text-decoration: none;
        font-weight: var(--fw-medium);
        font-size: var(--fz-18);
        color: var(--clr-primary-400);
        padding: 0.25em 1.125em;
        border: 1px solid #161616;
        border-radius: 5px;
    }

        /* Blog post title and text */
    .blog-post-text {
        margin: 1.25rem;
    }
    .blog-post-text h3 {
        margin-top: 1rem;
    }
        /* Blog post watch icon */
    .watch-timeAndComments {
        margin:0 1.25rem 1.25rem;
        display: flex;
    }
    .time, .comments {
        display: flex;
    }
    .comments {
        margin-left: 2rem;
    }
    .watch-timeAndComments p {
        margin-left: 0.625rem;
        color: var(--clr-primary-400);
        opacity: 70%;
    }
    .veiw-button {
        display: none;
    }
/* ------------
 footer section styles
 ------------*/
    footer {
        background-color: var(--clr-primary-400);
        text-align: center;
    }
    /* footer title */
    .ftr-title {
        padding-top: 1.5rem;
        margin-top: 1.5rem;
    } 
    .ftr-title hr {
        margin: 1.5rem 1.25rem;
        border: 1px solid rgba(255, 255, 255, 0.1);
    }
    /* footer link */
    .footer-link a {
        text-decoration: none;
        display: block;
        color: #B9B9B9;
        margin: 1.625rem auto;
        cursor: pointer;
    }
    /* social links */
    .social-links {
        display: flex;
        justify-content: center;
    }
    .social-links a {
        margin: 0 1.25rem 1.625rem;
        opacity: 80%;
    }
}

/* medium devices */
@media screen and (min-width: 36em) and (max-width: 53em) {
    .container {
        --max-width: 52em;
        --padding: 3.125rem;
    
        width: min(var(--max-width), 100% - var(--padding)*2);
        margin-inline: auto;
    }
    /* hero section */
    .even-columns {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        border-radius: 50px;
        margin-top: 50px;
        padding: 3.8125rem 1rem 0 4.75rem;
        text-align: start;
        align-items: end;
    }
    .hero-text {
        margin-bottom: 3.755rem;
    }
    .hero-text h1 {
        font-size: var(--fz-40);
        margin-bottom: 0.625rem;
    }
    .hero-text p {
        font-size: var(--fz-14);
        margin-bottom: 1.25rem;
    }
/* Button , [   Play-icon as a span   ]*/
    .primary-button {
        text-decoration: none;
        color: var(--clr-neutral-900);
        background-color: var(--clr-secondary-100);
        padding: 0.5em 0.75em;
        border-radius: 5px;
    }
    span {
        margin-left: 10px;
    }
    .hero-img {
        width: 323px;
        height: 340px;
    }
        
    /* blog section styles */

    /* side bar cards */
    .sidebar-cards {
        display: flex;
        align-items: center;
        margin: 4.375rem 0 3rem 0;
    }
    .cards1 {
    white-space: nowrap;
    }
    .cards2 {
        margin-left: 22px;
    }
    .cards1, .cards2 {
        border: 1px solid #E8E8E8;
        text-align: center;
    }
    .cards3 {
        text-align: center;
        margin-left: 22px;
    }
    .cards1, .cards2, .cards3 {
        padding: 1rem 1.75rem;
        width: 230px;
        border-radius: 10px;
    }
    .sidebar-cards a {
        font-size: var(--fs-primary-button);
        font-weight: var(--fw-semi-bold);
        text-decoration: none;
        color: var(--clr-primary-400);
    }
/* active button */
    .cards3 {
        margin: 0 0 0 22px ;
        background-color: var(--clr-secondary-100);
    }
    .cards3 a{
        color: var(--clr-neutral-900);
    }

 /* Blog post  */
    .three-columns-two-columns {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.25rem;
    }
    
        /* Blog post  */
        .blog-post {
            border: 1px solid #E8E8E8;
            margin: 0 0 16px;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        }
        .blog-post-img img {
            width: 100%;
        }
    
            /* Blog post transfer button */
        .blog-post-text a {
            text-decoration: none;
            font-weight: var(--fw-medium);
            font-size: var(--fz-18);
            color: var(--clr-primary-400);
            padding: 0.25em 1.125em;
            border: 1px solid #161616;
            border-radius: 5px;
        }
    
            /* Blog post title and text */
        .blog-post-text {
            margin: 1.25rem;
        }
        .blog-post-text h3 {
            margin-top: 1rem;
        }
            /* Blog post watch icon */
        .watch-timeAndComments {
            margin:0 1.25rem 1.25rem;
            display: flex;
        }
        .time, .comments {
            display: flex;
        }
        .comments {
            margin-left: 2rem;
        }
        .watch-timeAndComments p {
            margin-left: 0.625rem;
            color: var(--clr-primary-400);
            opacity: 70%;
        }
        .blog-post-last {
            display: none;
        }
    
        .veiw-button  a{
            display: block;

            text-decoration: none;
            color: var(--clr-neutral-900);
            background-color: var(--clr-secondary-100);
            padding: 0.5em 0.75em;
            border-radius: 5px;
            text-align: center;
            white-space: nowrap;

        }
        .veiw-button {
            margin: 3.125rem auto;
            width: 131px;
        }
/* ------------
footer section styles
------------*/
    footer {
        background-color: var(--clr-primary-400);
        text-align: center;
    }
    /* footer title */
    .ftr-title {
        padding-top: 4.375rem;
        margin-top: 1.875rem;
    } 
    .ftr-title h2{
        font-size: var(--fz-40);
    }
    .ftr-title hr {
        margin: 1.875rem 3.125rem;
        border: 1px solid rgba(255, 255, 255, 0.1);
    }
    /* footer link */
    .footer-link {
        width: 650px;
        margin: 0 auto 1.875rem;
    }
    .footer-link a {
        text-decoration: none;
        color: #B9B9B9;
        font-size: var(--fz-20);
        white-space: nowrap;
        text-align: center;
        margin: 0 8px 0;
        line-height: 1.75;
        opacity: 80%;
    }
    /* social links */
    .social-links {
        display: flex;
        justify-content: center;
    }
    .social-links a {
        margin: 0 1.25rem 1.875rem;
        opacity: 80%;
    }
    
}




